
<header>

  <div class="centered">
    <div class="search">
      <div id="search-panel" class="panel">
        <div>
          <input type="text" name="keywords" class="design-search-keywords" placeholder="{Search...}" size="15">
          <div class="search-button icon-search main-button">
          </div>
          </form>
        </div>
      </div>
    </div>

    <div class="logo">
    </div>

    <div class="cart">
      </a>
      {% include "/includes/mini-cart.html" %}
    </div>
  </div>

</header>
