
<nav class="nav" role="navigation">

  <div class="general">

      <div class="account">
        <div id="account-panel" class="panel">
        </div>
      </div>
  </div>

  <div class="bar">
    <a class="opener" data-design-open="bar-panel">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </a>

    <div id="bar-panel" class="panel">

      <ul class="main-items">
        <li class="megamenu has-panel">
          <div class="panel" data-design-set-height="(max-width:1023px)">
            <div class="content">

              <div class="menu">
              </div>

              <div class="menu">
              </div>

              <div class="menu">
              </div>

            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>

</nav>
